@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trirong:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Trirong, sans-serif;
    font-weight: 300;
    color: #414040
}

/* headings and logo */

h1, h2 {
    font-family: Open sans, sans-serif;
    color: #414040;    
}

#logo {
    float: left;
    font-size: 300%;
}